name = "birivibe"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[vars]
NODE_ENV = "production"

[[d1_databases]]
binding = "DB"
database_name = "birivibe-db"
database_id = "SEU_D1_DATABASE_ID" # Criar com: npx wrangler d1 create birivibe-db
